<style type="text/css">

* {
  margin: 0;
  padding: 0;
}

body {
  background: #3f3f75;
}

.border {
  background: url("https://i.imgur.com/tjfVEnJ.png");
  background-size: contain;
  height: 2em;
}

.header {
  color:white;
  background: #2b2b51;
  min-height: 50px;
}

.social {
  float: right;
  margin: 5px 5px 5px 0px;
}

.social p {
  display: inline;
}

.social a img {
  margin-right: 5px;
  height: 40;
  width: 40;
}

.tagline-container {
  width: -moz-available;
  display: flex;
  justify-content: center;
}

.tagline {
  display: block;
  background: url("https://i.imgur.com/16PgdnX.png");
  background-repeat: no-repeat;
  bakcground-size: cover;
}

</style>


<div class="border"></div>

<div class="header">
  <div class="social">
    <img src="https://i.imgur.com/vEyyLsE.png" alt="join the mob" />
    <a href="https://twitter.com/monstermobnft"><img src="https://i.imgur.com/P4oudnS.png" alt="twitter" /></a>
    <a href="https://discord.gg/ZNnVSuWYMS"><img src="https://i.imgur.com/kKjGpdi.png" alt="discord" /></a>
  </div>
</div>

<div class="tagline-container">
  <img src="https://i.imgur.com/16PgdnX.png" alt="tagline" />
</div>