<style type="text/css">

* {
  margin: 0;
  padding: 0;
}

body {
  background: #3f3f75;
}

.border {
  background: url("https://i.imgur.com/tjfVEnJ.png");
  background-size: contain;
  height: 2em;
}

.header {
  color:white;
  background: #2b2b51;
  min-height: 50px;
}

.social {
  float: right;
  margin: 5px 5px 5px 0px;
}

.social p {
  display: inline;
}

.social a img {
  margin-right: 5px;
  height: 40;
  width: 40;
}

.container {
  width: -moz-available;
  display: flex;
  justify-content: center;
}

.tagline {
  display: block;
  background: url("https://i.imgur.com/16PgdnX.png");
  background-repeat: no-repeat;
  bakcground-size: cover;
}

.button {
  background-color: #ffa113;
  border-radius: 10px;
  padding: 5px;
  margin-top: 20px;
}

.button a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
}

.bulletin-board {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.note-board {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.portrait {
  border: solid white 3px;
  margin-top: 10px;
  width: 300;
  height: 300;
}

.note {
  margin-top: 50px;
  padding: 10px;
  color: white;
  font-size: 2em;
  background: #2b2b51;
  font-family: Helvetica;
  border: solid white 3px;
}

.note li {
  list-style-type: none;
  padding-left: 10px;
}

.

</style>


<div class="border"></div>

<div class="header">
  <div class="social">
    <img src="https://i.imgur.com/vEyyLsE.png" alt="join the mob" >
    <a href="https://twitter.com/monstermobnft"><img src="https://i.imgur.com/P4oudnS.png" alt="twitter" /></a>
    <a href="https://discord.gg/ZNnVSuWYMS"><img src="https://i.imgur.com/kKjGpdi.png" alt="discord" /></a>
  </div>
</div>

<div class="container">
  <img src="https://i.imgur.com/16PgdnX.png" alt="tagline" />
</div>

<div class="container">
  <button class="button">
    <a href="https://opensea.io/collection/monstermob" alt="openSea">Check us out on OpenSea</a>
  </button>
</div>

<div class="bulletin-board">
  <img src="https://i.imgur.com/3doGkZx.png" alt="monster" class="portrait"/>
  <img src="https://i.imgur.com/fibg0cf.png" alt="monster" class="portrait"/>
  <img src="https://i.imgur.com/4ax6ZaZ.png" alt="monster" class="portrait"/>
</div>

<div class="bulletin-board">
  <img src="https://i.imgur.com/iAy4vYm.png" alt="monster" class="portrait"/>
  <img src="https://i.imgur.com/vTvWM0P.png" alt="monster" class="portrait"/>
  <img src="https://i.imgur.com/RPiWni5.png" alt="monster" class="portrait"/>
</div>

<div class="bulletin-board">
  <div class="note-board">
    <div class="note">
      <h2>PROJECT HISTORY</h2>
      </br>

      <h3>Q3 2021</h3>
      <ul>
        <li>Project launch - .07 mint price</li>
        <li>Move to free mint - project sells out</li>
        <li>OG holders rewarded with Monster Mob Boss Rings</li>
        <li>30+ Eth volume on OpenSea</li>
      </ul>
      </br>

      <h3>Q4 2021</h3>
      <ul>
        <li>Smart Contract transferred to new owner</li>
        <li>New mod team organized</li>
        <li>Discord server cleaned up</li>
        <li>Active on Twitter again</li>
      </ul>
    </div>
    
    <div class="note">
      <h2>PROJECT ROADMAP</h2>
      </br>

      <h3>Q1 2022</h3>
      <ul>
        <li>Re-launch website</li>
        <li>Post updated roadmap</li>
        <li>Post updated utility explainer in Discord</li>
        <li>Build an app to select weekly traits that provide utility</li>
        <li>Begin utility raffles (i.e. drink and food reimbursements for NFT holders at any bar, restaurant or coffee shop in the world)</li>
        <li>Invest in marketing and community building</li>
        <li>Sell first branded merchandise</li>
        <li>Explore Monster Mob web game</li>
        <li>Legal review of operations and reimbursement mechanism</li>
        <li>Grow to 5,000 Discord members</li>
        <li>Grow to 5,000 Twitter followers</li>
        <li>Launch NFT giveaways from the Mob Boss wallet</li>
      </ul>
      </br>

      <h3>Q2 2022</h3>
      <ul>
        <li>100+ Eth volume on OpenSea and verified collection</li>
        <li>Finish airdropping Monster Mob Boss Rings to early NFT holders</li>
        <li>Announce and launch Mob Boss Ring utility</li>
        <li>Begin floor buybacks with the Mob Boss wallet</li>
        <li>Explore companion NFT airdrops</li>
        <li>Explore NFT staking and tokenization of utility</li>
        <li>News coverage by respected media outlets</li>
        <li>Expand branded merchandise offerings</li>
        <li>Partnerships with respected crypto and NFT platforms</li>
        <li>Increase the value of weekly utility raffles ($10-100 per NFT)</li>
        <li>Increase the number of weekly utility raffle winners or update utility mechanics</li>
      </ul>
      </br>
      
      <h3>Q3 2022</h3>
      <ul>
        <li>10,000 Discord members</li>
        <li>Increase value of weekly utility raffles ($10-200 per NFT)</li>
        <li>Increase the number of weekly utility raffle winners or update utility mechanics</li>
        <li>Improve the process for utility reimbursement with updated external app and UI or more automated process</li>
      </ul>
      </br>

      <h3>Q4 2022</h3>
      <ul>
        <li>Increase value of utility reimbursements ($10-300+ per NFT)</li>
      </ul>
    </div>
  </div>
</div>